@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');


:root{
    --cl-black: #0B0D17;
    --cl-peach: #D0D6F9;
    --cl-white: #ffffff;
    --ff-bellefair: 'Bellefair', serif;
    --ff-barlow:'Barlow Condensed', sans-serif;
    
    
}

html{
    font-size: 18px;
    font-weight: 300;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cl-white);
}

h1{
    font-family: var(--ff-bellefair);
    font-size: 150px;
    font-weight: 300;
    text-transform: uppercase;
}

h2{
    font-size: 100px;
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
    font-weight: 300;
}

h3{
    font-size: 56px;
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
}

h4{
    font-size: 32px;
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
}

h5{
    font-family: var(--ff-barlow);
    font-size: 28px;
    letter-spacing: 4.75px;
    text-transform: uppercase;
    font-weight: 100;
}

 p{
    font-family: var(--ff-barlow);
    line-height: 2rem;
 }

 .subheading1{
    font-size: 28px;
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
 }

 .subheading2{
    font-size: 14px;
    font-family: var(--ff-barlow);
    letter-spacing: 2.35;
    text-transform: uppercase;
 }

 .navtext{
    font-size: 16px;
    font-family: var(--ff-barlow);
    letter-spacing: 2.7;
    text-transform: uppercase;
 }


 .home{
    background-image: url(./images/home/background-home-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    
}

header button{
    display: none;
}

.header-ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background: rgba(0,0,0,0.2);
    backdrop-filter: blur(1.5rem);
    
}

.header-li{
    padding: 2rem 0;
    margin: 0 2.5rem;
    border-bottom: 0;
}

.header-li:hover{
    border-bottom: 2px solid rgba(255, 255, 255,0.5);   

}


.header-ul span{
    font-family: var(--ff-barlow);
    text-transform: uppercase;
    margin-right: 0.5rem;
    font-weight: 700;
}

.header-ul a{
    text-decoration: none;
    font-family: var(--ff-barlow);
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
}




hr {
    margin: 0 1rem;
    border: 0.1px solid var(--cl-peach);
    width: 25vw;
    opacity: 0.3;
    
}

main{
    margin-top: 1rem;
    display: flex;
    flex-direction:row;
    padding:2rem 4rem;
    gap: 10%;
    
}

.home-content{
    flex-basis: 50%;
}

.home-content h1{
    margin: 1rem 0;
}

.explore-container{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore{
    position: relative;
    background-color: var(--cl-white);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
}

.explore::after{
    position: absolute;
    content: '';
    background-color: white;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 50%;
    opacity: 50%;
    
    
}

.explore:is(:hover,:focus):after{
    transform: scale(1.5);
    opacity: 15%;
    transition: opacity 500ms linear, transform 750ms ease-in-out;
}

.explore a{
    text-decoration: none;
    color: var(--cl-black);
    font-size: 32px;
    font-family: var(--ff-bellefair);
    text-transform: uppercase;
    
}

@media(max-width:820px){

    
    .home{
        background-image: url(./images/home/background-home-tablet.jpg);
        background-size: cover;
        background-position:bottom center;
        background-repeat: no-repeat;
    }

    main{
        margin-top: 0;
        display: flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        padding:2rem 4rem;
        gap: 3rem;
    }
    
    hr{
        display: none;
    }
    .home-content{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header-li{
        padding: 1rem 0;
        margin: 0 1rem;
    }
    .home-content p{
        text-align: center;
    }

    .home-content h1{
        margin: 0;
    }

    .explore{
        height: 12rem;
        width: 12rem;
    }

}

@media(max-width: 560px){
    hr{
        display: none;
    }

    header button{
        display: flex;
        background: transparent;
        z-index: 10000;
        background-image: url(./images/shared/icon-hamburger.svg);
        background-repeat: no-repeat;
        height: 1.7rem;
        width: 1.7rem;
        background-position: center;
        border: 0;
    }

    header button.active{
        background-image: url(./images/shared/icon-close.svg);
    }

    .header-ul{
        display:none;
        position: absolute;
        flex-direction: column;
        list-style: none;
        align-items: flex-start;
        top: 0;
        bottom: 0;
        right: 0;
        left: 30%;
        background-color: rgba(0,0,0,0.2);
        backdrop-filter: blur(1.5rem);
        z-index: 1000;
        padding: 8rem 0rem 20rem 2rem;
        animation: rightslide 2s;

    }

    .header-ul.show{
        display: flex;
    }
    

    .home{
        background: url(./images/home/background-home-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    main{
        padding: 2rem 1rem;
        gap: 5rem;
    }

    .home-content h1{
        margin: 1rem 0;
    }
    
    h1{
        font-size: 80px;
    
    }

    h5{
        font-size: 18px;
    }

    p{
        font-size: 16px;
    }

}

@keyframes leftslide {
    0%{
        transform: translateX(-100%);
        opacity: 0;
    }
    100%{
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes rightslide {
    0%{
        transform: translateX(100%);
        opacity: 0;
    
    }

    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.destination{

    background-image: url(./images/destination/background-destination-desktop.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.destination-ul{
    width: 12rem;
}


.destination-li{
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 0;
}

.destination-li:hover{
    border-bottom: 2px solid rgba(255, 255, 255,0.5);   

}

.image-content .text{
    margin: 1rem 0;
}

.image-content .image{
    margin-top: 3rem;
}

.image-content span{
    font-family: var(--ff-barlow);
    text-transform: uppercase;
    margin-right: 0.5rem;
    font-weight: 700;
    color: rgba(255, 255, 255,0.5);
}
